/* 
  header
*/

/* logo */
.logo {
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  &-web {
    color: #2196f3;
  }
  &-studio {
    color: #000000;
  }
}

/* nav */

.nav-header {
  height: 60px;
  display: flex;
}

.icon {
  margin-left: auto;
}

.is-open + .icon > .icon-x {
  display: none;
}

.is-hidden + .icon > .icon-menu {
  display: none;
}

.menu-button {
  display: none;
}

.nav  {
  &-link {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &-header {
    align-items: center;
  }

  li:first-child{
  margin-left: 85px;
  }

  li:not(:last-child) {
    margin-right: 50px;
  }
  
}
.nav a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  
  color: var(--color-title);
  
  transition: color var(--animation) var(--cubic-bezier);
  
  &:visited {
    color: var(--color-title);
  }
  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.actual-page {
  position: relative;
  
  &::after {
    content: "";
    
    position: absolute;
    
    height: 4px;
    width: 100%;
    
    bottom: 0;
    
    border-radius: 2px;
    background-color: var(--color-accent);
    
    pointer-events: none;
  }
}

/* nav address  */

.nav-address {
  display: flex;
  margin-left: auto;
  
  a:focus,
  a:hover .icon-hover {
    --color1: var(--color-accent);
    --color2: var(--color-accent);
  }
  li:not(:last-child) {
    margin-right: 30px;
  }
  li:last-child {
    margin-right: 0px;
  }
}

.nav-address a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  
  color: var(--color-basic);
  
  transition: color var(--animation) var(--cubic-bezier),
  --color1 var(--animation) var(--cubic-bezier),
  fill var(--animation) var(--cubic-bezier);
  
  &:visited {
    color: var(--color-basic);
  }
  
  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.break {
  border-bottom: 1px solid #ececec;
}
