/* webstudio section 3 */
.bg-gray {
  background-color: var(--color-background);
}
  
.our-team {
  padding-top: 60px;
  margin-bottom: 0;

  @media screen and (min-width: $table-upper){
    padding-top: 94px;
    margin-bottom: 50px;
  }
}
  
.title-team b {
  padding-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  color: var(--color-title);
}
  
.title-team p {
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.18;
  
  color: var(--color-basic);
}
  
  
.title-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  @media screen and (min-width: 748px){
    justify-content: space-between  ;
  }

  @media screen and (min-width: $table-upper){
    justify-content: space-around  ;
  }
  // margin: -30px;
  
}
.title-team > li{
  max-width: 100%;
  
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);

  // margin: 30px;  
}

// .title-team li {
  // margin-right: auto;
  // margin-left: auto;

// }

@media screen and (max-width: $mobile-lesser) {
.title-team > li:not(:first-child) {
  max-width: 100%;
  padding-top: 30px;
}
}


@media screen and (min-width: $mobile-upper) {
.title-team > li {
  margin-top: 30px;
}
}

.social-link a {
  display: inline-flex; 
  justify-content: center; 
  align-items:center;
  
  width: 44px;
  height: 44px;

  transition: background-color var(--animation) var(--cubic-bezier);

  border-radius: 50%;
}
  
.social-link a:hover,
.social-link a:focus {
  --color1: var(--color-white);
  border-radius: 50%;
  background-color: var(--color-accent);
}

.social-link li{
  width: 44px;
  height: 44px;
}

.icon-social-link {
  display: flex;
  display: block;
  margin: auto;
}

.social-link.link-style { 
  display: flex; 
  width: 270px;
  justify-content: center;
}
  
.description {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-white);
  width: 100%;
  height: 162px;
  border-radius: 0px 0px 4px 4px;
}

.nikolay-kucherenko,
.olga-ivanova,
.andrey-shevchenko,
.ivan-nikolaev {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .title-team {
//   width: 300px;
// }

  